
@{
    ViewData["Title"] = "Supliers";
}
<div class="panel box-shadow-none content-header">
    <div class="panel-body">
        <div class="col-md-12">
            <h3 class="animated fadeInLeft">Supliers</h3>
            <p class="animated fadeInDown">
            </p>
        </div>
    </div>
</div>
<div class="col-md-12 top-20 padding-0">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading"><h3><a onclick="addEmployee();" class="btn btn-outline-primary">Add Suplier</a></h3></div>
            <div class="panel-body">
                <div class="responsive-table">
                    <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>PAN</th>
                                <th>GST</th>
                                <th>Created Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="EmployeeModel" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="mtitle" class="modal-title"> </h4>
            </div>
            <div id="mbody" class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {


        $("#datatables-example").DataTable({
            // Design Assets
            stateSave: true,
            autoWidth: true,
            // ServerSide Setups
            processing: true,
            serverSide: true,
            // Paging Setups
            paging: true,
            // Searching Setups
            searching: { regex: true },
            // Ajax Filter
            ajax: {
                url: "/ViewDataServer/LoadSuplierTables",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: function (d) {
                    return JSON.stringify(d);
                }
            },
            // Columns Setups
            columns: [
                { data: "name" },
                { data: "email" },
                { data: "phone" },
                { data: "address" },
                { data: "pan" },
                { data: "gst" },
                {
                    data: "cdate",
                    render: function (data, type, row) {
                        // If display or filter data is requested, format the date
                        if (type === "display" || type === "filter") {
                            return moment(data).format("ddd DD/MM/YYYY HH:mm:ss");
                        }
                        // Otherwise the data type requested (`type`) is type detection or
                        // sorting data, for which we want to use the raw date value, so just return
                        // that, unaltered
                        return data;
                    }
                },
                {
                    data: null,
                    render: function (data, type, row) {
                        return '<a href="#" class="btn btn-primary" onclick="ediemp(\'' + row.uname + '\');">Edit</a>  <a class="btn btn-danger" onclick="delemp(\'' + row.uname + '\');" title="delete">Delete</a>';
                    }
                }
            ],
            // Column Definitions
            columnDefs: [
                { targets: "no-sort", orderable: false },
                { targets: "no-search", searchable: false },
                {
                    targets: "trim",
                    render: function (data, type, full, meta) {
                        if (type === "display") {
                            data = strtrunc(data, 10);
                        }

                        return data;
                    }
                },
                { targets: "date-type", type: "date-eu" }
            ]
        });
    });

    function strtrunc(str, num) {
        if (str.length > num) {
            return str.slice(0, num) + "...";
        }
        else {
            return str;
        }
    }
    function addEmployee() {
        $("#mbody").load("/Home/ModelPopUp/AddEmp", function () {

            $("#mtitle").text( "Add Suplier");
            $("#EmployeeModel").modal("show");
        });
    }
    function ediemp(id) {
        $("#mbody").load("/Home/ModelPopUp/EditEmployee-"+id, function () {
            $("#mtitle").text("Add Suplier");
            $("#EmployeeModel").modal("show");
        });
    }
    function delemp(id) {
        swal({
            title: "Are you sure?",
            text: "Your will not be able to recover this Record!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
        function () {
           swal("Deleted!", "Your Record has been deleted.", "success");
        });
    }

</script>


