
@{
    ViewData["Title"] = "ForgetPassword";
}
<form class="form-signin">
    <div class="panel periodic-login">
        
        <div class="panel-body text-center">
            <h1 class="atomic-symbol">UPVC</h1>

            <p class="element-name">Note Book</p>

            <i class="icons icon-arrow-down"></i>
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                <input type="text" class="form-text" required>
                <span class="bar"></span>
                <label>Email</label>
                <p>Input your email to reset your password</p>
            </div>

            <input type="submit" class="btn col-md-12" value="Reset" />
        </div>
        <div class="text-center" style="padding:5px;">
            <a href="/Login/">SignIn</a> |
            <a href="/Login/SignUp">Signup</a>
        </div>
    </div>
</form>

