
@{
    ViewData["Title"] = "Login";
}

<form method="post" asp-action="LoginSubmit" asp-controller="Login" class="form-signin">
    <div class="panel periodic-login">
        
        <div class="panel-body text-center">
            <h1 class="atomic-symbol">UPVC</h1>
            
            <p class="element-name">Note Book</p>

            <i class="icons icon-arrow-down"></i>
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                <input name="Username" id="Username" type="text" class="form-text" required>
                <span class="bar"></span>
                <label>Username</label>
            </div>
            <div class="form-group form-animate-text" style="margin-top:40px !important;">
                <input name="Password" id="Password" type="password" class="form-text" required>
                <span class="bar"></span>
                <label>Password</label>
            </div>
            <label class="pull-left">
                <input type="checkbox" class="icheck pull-left" name="checkbox1" /> Remember me
            </label>
            <input type="submit" class="btn col-md-12" value="SignIn" />
        </div>
        <div class="text-center" style="padding:5px;">
            <a href="/Login/ForgetPassword">Forgot Password </a>
            <a href="/Login/SignUp">| Signup</a>
        </div>
    </div>
</form>

